@charset "UTF-8";

/*#ff9292 rgb(255,146,146,1)
#ffb4b4 rgb(255,180,180,1)
#ffdcdc rgb(255,220,220,1)
#ffe8e8 rgb(255,232,232,1)
*/

p {
    font-weight: 900;
}

section {
    padding: 0px 0px;
}

@media screen and (max-width: 768px) {
    section {
        padding: 0px 0px;
    }
}

main>article>:first-child {
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
}

*,
*::before,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #000;
    letter-spacing: 1px;
    background-color: #ff9292;
    background-image: linear-gradient(45deg, rgb(255, 180, 180, 1) 25%, transparent 25%, transparent 75%, rgb(255, 180, 180, 1) 75%, rgb(255, 180, 180, 1)), linear-gradient(-45deg, rgb(255, 180, 180, 1) 25%, transparent 25%, transparent 75%, rgb(255, 180, 180, 1) 75%, rgb(255, 180, 180, 1));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    html,
    body {
        height: 100%;
    }
}

.uPl0 {
    padding-left: 0!important;
}

.uPr0 {
    padding-right: 0!important;
}

@media screen and (max-width: 1280px) {
    .uPl16-Pc {
        padding-left: 16px!important;
    }
    .uPr16-Pc {
        padding-right: 16px!important;
    }
}

@media screen and (max-width: 768px) {
    .uPl16-Tab {
        padding-left: 16px!important;
    }
    .uPr16-Tab {
        padding-right: 16px!important;
    }
}

.plpr {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 900px) {
    .plpr {
        padding-left: 16px!important;
        padding-right: 16px!important;
    }
}

.uPt0 {
    padding-top: 0!important;
}

.uPb0 {
    padding-bottom: 0!important;
}

@media screen and (max-width: 480px) {
    .uPb40-sp {
        padding-bottom: 40px!important;
    }
}

.bgGrd {
    background-size: 20px 20px;
    background-color: #ffe8e8;
    background-image: linear-gradient(45deg, rgba(255, 180, 180, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 180, 180, 0.5) 50%, rgba(255, 180, 180, 0.5) 75%, transparent 75%, transparent), linear-gradient(-45deg, rgba(255, 180, 180, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 180, 180, 0.5) 50%, rgba(255, 180, 180, 0.5) 75%, transparent 75%, transparent);
}

*:focus {
    outline: none!important;
    background-color: #d3d6db!important;
}

input {
    outline: none!important;
}

.uW600 {
    max-width: 600px;
}

.uW1100 {
    max-width: 1100px;
}

.uW1280 {
    max-width: 1280px;
    margin: 0 auto;
}

.uMa {
    margin: 0 auto;
}

.uMt30 {
    margin-top: 30px!important;
}

@media screen and (max-width: 480px) {
    .uMt0-sp {
        margin-top: 0!important;
    }
    .uPt16-sp {
        padding-top: 16px!important;
    }
    .uMt16-sp {
        margin-top: 16px!important;
    }
    .uMt26-sp {
        margin-top: 26px!important;
    }
}

.uFz15 {
    font-size: 1.5rem!important;
}

@media screen and (max-width: 768px) {
    .uFz12-tab {
        font-size: 1.2rem!important;
    }
}

.seCtrl {
    padding: 56px 16px;
}

@media screen and (max-width: 768px) {
    .seCtrl {
        padding: 40px 16px;
    }
}


/*diagonal Start*/

.diagonal {
    position: relative;
    z-index: 0;
    width: 100%;
    transition: all 1.5s;
}

.diagonal:before {
    /*スペース作成して高さ調整*/
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    /*指定したい幅*/
    padding-top: 46.75%;
    /*画像の幅に対する高さ比率*/
    display: block;
}

.bg01:after {
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/bg01.png);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /*四角枠を傾け*/
    transform: skewY(2deg);
    transform-origin: top right;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .bg01:after {
        height: 410px;
        background-position: center;
        background-size: cover;
    }
    .bg01 {
        height: 410px;
    }
    .bg01.diagonal:before {
        /*スペース作成して高さ調整*/
        content: none;
    }
}

.diagonalInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding: 30px;
    color: #000;
    max-width: 900px;
    height: auto;
}

.diagonalTitleC {
    text-align: center;
    font-size: 3rem;
}

.diagonalTxtC {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
}

@media screen and (max-width: 900px) {
    .diagonalInner {
        padding: 16px 16px 32px;
    }
    .diagonalTitleC {
        font-size: 2.3rem;
    }
    .diagonalTxtC {
        margin-top: 10px;
        font-size: 1.1rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 560px) {
    .diagonalTitleC {
        font-size: 2rem;
    }
    .diagonalTxtC {
        font-size: 1rem;
    }
}

.topImg01:after,
.topImg02:after,
.topImg03:after,
.topImg04:after,
.topImg05:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /*四角枠を傾け*/
    transform: skewY(2deg);
    transform-origin: top right;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .topImg01:after,
    .topImg02:after,
    .topImg03:after,
    .topImg04:after,
    .topImg05:after {
        height: 350px;
        background-position: center;
        background-size: cover;
    }
    .topImg01,
    .topImg02,
    .topImg03,
    .topImg04,
    .topImg05 {
        height: 350px;
    }
    .topImg01.diagonal:before,
    .topImg02.diagonal:before,
    .topImg03.diagonal:before,
    .topImg04.diagonal:before,
    .topImg05.diagonal:before {
        /*スペース作成して高さ調整*/
        content: none;
    }
}

.topImg01:after {
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/topImg01.png);
}

.topImg02:after {
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/topImg02.png);
}

.topImg03:after {
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/topImg03.png);
}

.topImg04:after {
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/topImg04.png);
}

.topImg05:after {
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/topImg05.png);
}

#topSlide>h1 {
    position: absolute;
    line-height: 1.4;
    top: 0;
    left: 0;
    display: block;
    padding: 30px 10px;
    color: white;
    text-shadow: #ff9292 2px 0px 10px, #ff9292 -2px 0px 10px, #ff9292 0px -2px 10px, #ff9292 -2px 0px 10px, #ff9292 2px 2px 10px, #ff9292 -2px 2px 10px;
    font-size: 4rem;
    writing-mode: vertical-rl;
}

#topSlide>h1>span {
    font-size: 2.6rem;
}

@media screen and (max-width: 900px) {
    #topSlide>h1 {
        font-size: 3rem;
    }
    #topSlide>h1>span {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #topSlide>h1 {
        position: static;
        font-size: 2.3rem;
        padding: 30px 16px;
    }
    #topSlide>h1>span {
        font-size: 1.4rem;
    }
}


/*diagonal End*/


/*movieArea Start*/

.movieArea {
    max-height: 450px;
}

.movieWrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.movie {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 450px;
    max-width: 800px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.movieTitle {
    font-size: 3rem;
    text-align: center;
    padding: 0 0 16px;
}

@media screen and (max-width: 900px) {
    .movieTitle {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 480px) {
    .movieTitle {
        font-size: 2rem;
    }
}


/*movieArea End*/


/*followContact Start*/

.followContact {
    position: fixed;
    right: 5px;
    top: 100px;
    z-index: 99;
    max-width: 116px;
    min-width: 116px;
    min-height: 434px;
    max-height: 434px;
}

.followContact>a {
    line-height: 1.4;
    position: relative;
    display: block;
    writing-mode: vertical-rl;
    padding: 100px 16px 32px!important;
    background-color: white;
    border: solid 2px #ff9292;
    text-decoration: none;
    font-weight: bold;
    color: #ff9292;
    font-size: 1.8rem;
    text-align: center;
    transition: all 0.5s;
    max-width: 116px;
    min-width: 116px;
    min-height: 434px;
    max-height: 434px;
}

.followContact>a:hover {
    background-color: #ff9292;
    border: solid 2px white;
    color: white;
}

.followContact>img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 96px;
    height: 69.75px;
    z-index: 100;
    display: block;
    margin-top: 32px;
}

.followContact>a>.vGroup>.v {
    text-combine-upright: all;
}

.followContact>a>.vGroup {
    font-size: 1.1rem;
}

.followContact>a>img {
    display: none;
}

@media screen and (max-width: 768px) {
    .followContact {
        position: fixed;
        right: initial;
        top: initial;
        z-index: 99;
        bottom: 0;
        max-width: initial;
        width: 100%;
        display: flex;
        min-width: initial;
        min-height: initial;
        max-height: initial;
    }
    .followContact>a {
        line-height: 1.4;
        position: relative;
        display: block;
        writing-mode: initial;
        width: 100%;
        background-color: #ff9292;
        border: solid 2px white;
        color: white;
        padding: 16px 16px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: initial;
        min-width: initial;
        min-height: initial;
        max-height: initial;
    }
    .followContact>img {
        position: static;
        display: none;
    }
    .followContact>a>img {
        display: block;
        height: 69.75px;
        z-index: 100;
        margin-right: 16px;
        width: 96px;
    }
    .vGroup {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .followContact>a>img {
        height: 35px;
        width: 48px;
        margin-right: 0px;
    }
    .followContact>a {
        font-size: 1.5rem;
    }
}


/*followContact End*/


/*fadeArea Start*/

.fadeArea {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 56px 0 0px;
}

.fadeArea:last-child {
    padding: 56px 0px 56px;
}

.fadeLetterL {
    transition: all 0.5s;
    display: flex;
    width: 36%;
    word-break: keep-all;
}

.fadeLetterL:nth-child(odd) {
    padding-right: 30px;
    justify-content: flex-end;
}

.fadeLetterL:nth-child(even) {
    padding-left: 30px;
    justify-content: flex-start;
}

.fadeLetterL>p {
    transition: all 0.5s;
    writing-mode: vertical-rl;
    font-size: 1.8rem;
    margin-left: 30px;
    margin-top: 130px;
    height: 300px;
}

.fadeLetterL>h2 {
    writing-mode: vertical-rl;
    font-size: 3rem;
}

.fadeImgL {
    width: 64%;
    object-fit: contain;
}

.fadeLetterM {
    transition: all 0.5s;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    text-align: center;
}

.fadeLetterM>p {
    transition: all 0.5s;
    font-size: 1.8rem;
}

.fadeLetterM>h2 {
    font-size: 3rem;
}

.fadeImgM {
    object-fit: contain;
    width: 50%;
}

@media screen and (max-width: 900px) {
    .fadeArea:last-child {
        padding: 56px 16px 56px;
    }
    .fadeArea {
        flex-direction: column;
        padding: 56px 16px 0;
    }
    .fadeArea:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .fadeImgM {
        width: 100%;
    }
    .fadeLetterM {
        text-align: center;
        width: 100%;
        padding: 16px 0 0;
    }
    .fadeLetterM>h2 {
        font-size: 2.3rem;
    }
    .fadeLetterM>p {
        font-size: 1.3rem;
    }
    .fadeLetterL {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 16px 0 0;
        word-break: initial;
    }
    .fadeLetterL>p {
        writing-mode: initial;
        margin-left: 0;
        margin-top: 0;
        height: auto;
        text-align: center;
        font-size: 1.3rem;
    }
    .fadeLetterL>h2 {
        writing-mode: initial;
        font-size: 2.3rem;
    }
    .fadeLetterL:nth-child(odd) {
        padding-right: 0px;
        justify-content: center;
    }
    .fadeLetterL:nth-child(even) {
        padding-left: 0px;
        justify-content: center;
    }
    .fadeImgL {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .fadeArea:last-child {
        padding: 40px 16px 40px;
    }
    .fadeArea {
        padding: 40px 16px 0;
    }
}

@media screen and (max-width: 480px) {
    .fadeLetterL>p {
        font-size: 1.1rem;
    }
    .fadeLetterL>h2 {
        font-size: 2rem;
    }
    .fadeLetterM>p {
        font-size: 1.1rem;
    }
    .fadeLetterM>h2 {
        font-size: 2rem;
    }
}


/*fadeArea End*/


/*cvArea Start*/

.cvArea {
    width: 100%;
    background-image: url(https://aruruaruruaruru.github.io/koreanCuisine/img/cvArea.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 56px 0 62px;
}

.cvArea>h2 {
    font-size: 2.8rem;
    max-width: 900px;
}

.cvArea>p {
    font-size: 1.3rem;
    margin-top: 30px;
    max-width: 900px;
}

.cvArea>a {
    text-decoration: none;
    color: #000;
    margin-top: 36px;
    max-width: 900px;
    font-weight: bold;
    font-size: 2.2rem;
    position: relative;
    padding: 6px 0;
    width: 100%;
}

.cvArea>a::before {
    content: '';
    width: 100%;
    height: calc(100% + 20px);
    border-top: 3px solid #ffdcdc;
    border-bottom: 3px solid #ffdcdc;
    position: absolute;
    top: -10px;
    left: 0;
}

@media screen and (max-width: 900px) {
    .cvArea>a {
        font-size: 1.5rem;
    }
    .cvArea>h2 {
        font-size: 2.3rem;
    }
    .cvArea>a::before {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
    .cvArea>p {
        margin-top: 16px;
    }
}

.cvBand {
    background-color: #ff9292;
    background-image: linear-gradient(45deg, rgb(255, 180, 180, 1) 25%, transparent 25%, transparent 75%, rgb(255, 180, 180, 1) 75%, rgb(255, 180, 180, 1)), linear-gradient(-45deg, rgb(255, 180, 180, 1) 25%, transparent 25%, transparent 75%, rgb(255, 180, 180, 1) 75%, rgb(255, 180, 180, 1));
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    height: 20px;
}

@media screen and (max-width: 768px) {
    .cvArea {
        padding: 40px 0 50px;
    }
    .cvArea>a {
        font-size: 1.5rem;
    }
    .cvArea>p {
        font-size: 1.5rem;
    }
    .cvArea>h2 {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 480px) {
    .cvArea>p {
        font-size: 1.1rem;
    }
    .cvArea>h2 {
        font-size: 2rem;
    }
}


/*cvArea End*/


/*Footer Start*/

footer {
    padding: 56px 16px;
    background-color: #ffe8e8;
}

footer>p {
    margin-top: 20px;
    text-align: center;
}

.footerArea {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    margin-right: 30px;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerLogo>a {
    text-decoration: none;
    color: initial;
    width: 100px;
    height: 100px;
}

.footerLogo>a {
    text-decoration: none;
    color: initial;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitterLogo {
    background: #55acee;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
    transition: .3s;
}

.twitterLogo>img {
    width: 60px;
}

.youtubeLogo {
    margin-top: 30px;
    background: #ff0000;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
    transition: .3s;
}

.youtubeLogo>img {
    width: 80px;
}

.twitterLogo:hover,
.youtubeLogo:hover {
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
    transform: translateY(-4px);
}

.footerTxt {
    margin-right: 30px;
    font-size: 1.2rem;
}

.footerTxt>p {
    margin-top: 16px;
    font-weight: normal;
}

.footerTxt>p:first-child,
.footerTxt>p:nth-child(3) {
    margin-top: 0px;
}

.storeName {
    font-size: 1.5rem;
    font-weight: bold;
}

.footerTel {
    font-size: 2.2rem;
    font-weight: 900!important;
}

@media screen and (max-width: 768px) {
    .footerTel {
        font-size: 1.2rem;
        font-weight: 900!important;
    }
    .footerArea {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-right: 0;
        margin-bottom: 0px;
    }
    footer {
        padding: 0px 16px 125px;
        background-color: #ffe8e8;
    }
    .footerTxt {
        margin-right: 0px;
        margin-bottom: 16px;
        font-size: 1.2rem;
    }
    .footerTxt>p {
        margin-top: 8px;
        font-weight: normal;
    }
    .footerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .youtubeLogo {
        margin-top: 0px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 100%;
    }
}


/*Footer End*/


/*fadein Start*/

.fadeinY {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
}

.fadeinXR {
    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);
    transition: all 1s;
}

.fadeinXL {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: all 1s;
}

.fadeinXR.isShow,
.fadeinXL.isShow,
.fadeinY.isShow {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transform: translateY(0px);
}


/*fadein End*/